* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
}

/** {
    border: 1px solid black !important;
}**/

html,body{
    width:100%;
}


.container{
    display: flex;
    flex-wrap: wrap;
}

.titleWrapper{
    display: flex;
    width: 100%;
}

.title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: right;
}

.titleOne{
    width: 100%;
}

.titleTwo{
    width: 100%;
}

.titlePic{
    width: 30%;
}

.title{
    width: 70%;
}

.section{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

.mountainPicContainer{
    display: flex;
    border-radius: 50%;
    overflow: hidden;.
}

.sideLinks{
    padding-top: 10%;
    padding-left: 0;
    list-style-type: none;
}

.links{
    width: 30%;
}

.text{
    width:48.5%;
}

.main{
    display: flex;
    width:100%;
}

.eternity{
    width: 50%;
}

.mountainPicPadding{
    width: 20%;
}

.article{
    display: flex;
    flex-wrap: wrap;
}

.linkOne{
    font-family: 'Shadows Into Light', cursive;
    font-style: italic;
}

.articleTitleContainer{
    width: 100%;
}

.waterPicContainer{
    display: flex;
    width: 33.3333%;
}

.bambooImage{
    width: 60%;
    height: 185px;
}

.waterImage{
    width:60%;
    height: 185px;
}

.flowerImage{
    width:60%;
    height: 185px;
}

.Taoism{
    width:40%;
    text-align: center;
}

.mountainPicPadding{
    width:20%;
}

.article{
    padding-bottom: 1.8%;
}

@media screen and (max-width: 417px){
    .article{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
           }

    .articleTitleContainer{
        width:100%;
    }

    .waterPicContainer{
        width:100%;
    }

    .Taoism{
        padding-top: 20%;
        background:url("../image/flower.jpg") no-repeat center;
    }

    .mountainPicContainer{
        border-radius: 0;
        overflow: hidden
    }

    /*.links{
        width:417px;
        height:100%;
        position: absolute;
        transform:translate(-417px, 0);
        transition: transform 0.3 ease;
    }*/



}

@media screen and (max-width: 375px){
  .mountainPic{
    display: none;
  }

  .mountainPicContainer{
    display: none;
    width: 0%;
  }

  .mountainPicPadding{
    display: none;
    width: 0%;
  }

  .links{
    text-align: center;
    width: 100%;
  }

  .main{
    width:100%;
  }

  .text{
    width: 0%;
  }

  .articleTitle{
    text-align: center;
    font-family: 'Lobster', cursive;
  }

  .sideLinks{
    padding-top: 0%;
  }

  .title{
    text-align: center;
    width: 100%;
  }

  .titleTwo{
    font-family: 'Dancing Script', cursive;
  }

  .titleOne{
    font-family: 'Dancing Script', cursive;
  }

}
